@import "tailwindcss";
@plugin "daisyui";

/* Hide scrollbars cross-browser */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none;    /* Firefox */
  }
  